

body {
   font-family: 'Courier New', Courier, monospace;
}

.greeting {
   font-size: 20px;
   line-height: 32px;
   background-color: black;
   color: white ;
}

.title {
   font: size 24px;
}

.subtitle {
   border: 1px;
   padding:10;
}

.avatar {
   height: 250px;
   width: 250px;
   border-radius: 50%;
   object-fit: cover;
}

.skills-wrapper {
   background-color: aquamarine;
   padding: 20px;
}

a {color:#FF6B00;
}

.contacts-wrapper {
   background-color: #E5F0FF;
   padding: 20px;  
}

label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

input,textarea
{
   margin-bottom: 15px;
   line-height: 32px;
   padding: 5px;
   border: none;
   width:100%;
}

input:focus
textarea:focus {
   outline: none;
}

.contact-submit-btn{
   font-size: 14px;
   color: white ;
   background-color: #0066CC;
   padding: 10px 30px;
   border-radius: 50px;
   border:none;
   cursor: pointer;
}
